.nav-menu {
  background-color: $grey-dark;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .main-section {
    display: flex;
    margin-top: 0;
    justify-content: space-between;
    align-items: center;
    color: $white;
  }

  .menu_icon {
    fill: $white;
  }
}
