
// all pages
.logo {
  margin-top: 0;
}
.page-content {
  padding-bottom: 4rem;
}









// week views
.week-view {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  border-left: 0.5rem solid transparent;
  // height: 54px;
  padding: 1rem;
  background-color: $grey-light;
  color: $grey-dark;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  h3 {
    margin: 0;
  }

  // top margin
  li & {
    margin-top: 0.5rem;
  }

  // different states (classes changed by handlers)
  &.red {
    border-left-color: $red;
  }

  &.green {
    border-left-color: $green;
  }

  &.yellow {
    border-left-color: $yellow;
  }

  &.tick {
    background-color: $blue;
    color: $blue-dark;
  }
}

.chevron_default {
  fill: $grey-dark;
}

.tick_complete {
  fill: $blue-dark;
}




// dashboard
.dashboard {
    &-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; // centrally align
        align-items: baseline; // align items to bottom of their containers
        text-align: center;
        margin-top: 0;
    }
    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        padding: 1rem;
        position: relative;
        // items on the left
        &:nth-child(odd){
          padding-left: 0;
        }
        // items on the right
        &:nth-child(even){
          padding-right: 0;
        }
    }
    // progress chart
    &-progress {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 8rem;
      height: 8rem;
    }
    &-fraction {
      position: absolute;
      font-weight: $medium;
    }
    // confidence levels
    &-confidence {
      width: 6rem;
      height: 0.25rem;
      background-color: $grey-light;
      &.red {
        background-color: $red;
      }
      &.yellow {
        background-color: $yellow;
      }
      &.green {
        background-color: $green;
      }
    }
    // header
    &-header {
      margin: 0;
    }

    // hover effects on link
    &-link {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 0;
      border-radius: 1rem;
      text-decoration: none;
      transition: all ease-in-out 0.3s;
      &:hover {
        background-color: rgba($grey-light, 0.25);
      }
    }
}

// round dashboard progress indicators
.circle {
  stroke: $grey-light;
}
.progress-circle {
  stroke: $blue;
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

