// colours
$blue-dark: #176196;
$blue: #53aaea;
$skyblue: #b3dfff;

$white: #ffffff;
$grey-light: #e5e5e5;
$grey-mid: #979797;
$grey-dark: #454444;
$black: #313131;

$red: #e24444;
$yellow: #ffd749;
$green: #44e27a;
$random: #77eb7a;

// fonts
$font-main: "Roboto", sans-serif;
$normal: 400;
$med: 500;
$bold: 700;
