// colours
$blue-dark: #0c6cb2;
$blue: #60abf7;

$white: #ffffff;
$black: #1c0b19;

$grey-light: #c9dee8;
$grey-mid: #676e72;
$grey-dark: #474448;

$red: #ea3546;
$yellow: #f9c80e;
$green: #35ff69;

// fonts
$font-main: "Roboto", sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;
