<main class="page-content">
    <section class="main-section">
        <h1>This is the dashboard</h1>
    </section>
    <section class="main-section">
        <p>get all weeks, loop through and output here</p>

        <ul>
            <li><a href="/week-1_toolkit">Week 1</a></li>
            <li><a href="/week-2_testing">Week 2</a></li>
            <p>1_toolkit|2_testing|3_api|4_node-core|5_node-2|6_postgresql|7_authentication|8_express-handlebars</p>
        </ul>
    </section>
    
</main>