<main class="page-content">
    <section class="main-section header">
        <h1>This is the home route (could go to login or signup)</h1>
        <a href="/dashboard" class="button">dashboard link</a>
    </section>
</main>
