<main class="page-content home-page">
    <section class="main-section header">
        <h1>Welcome to FAC TRACK 📊</h1>
        <a class="button-input" href="/dashboard">To The Dashboard! ></a>
    </section>
</main>
