<main class="page-content">
    <section class="main-section header">
      {{name}}
      {{repo_link}}

      <h1>Complete</h1>

 <form action=""  method="POST">

  <h1>Complete:</h1><input type="checkbox">Tick if complete<br>
  <h1>Confidence Level:</h1>
  <input type="radio" name="confidence" value="3"> low<br>
  <input type="radio" name="confidence" value="2"> Medium<br>
  <input type="radio" name="confidence" value="1"> High<br>

  <h1>Notes:</h1><br>
  <textarea name="notes" rows="10" cols="14">
  </textarea>

  <button type="submit">Save</button>
</form>

    </section>
</main>
