<main class="page-content">
  <section class="main-section header">
    <h1>{{name}}</h1>
    <a href="{{repoLink}}" type="button">Repo Link</a>


     <form action="/logData"  method="post">

        <section class="form-section">
          <h2>Complete:</h2>
          <section class="completed">
            <label class="checkbox-label">Completed
              <input class="checkbox-input" type="checkbox" value="true" name="completion"/>
              <span class="checkmark"></span>
            </label>
          </section>
        </section>

      <section class="form-section">
        <h2>Confidence Level:</h2>
        <section class="completed radio-group">

          <section class="radioButton">
            <input type="radio" name="confidence" value="3">
            <h5>Low</h5>
          </section>

          <section class="radioButton">
            <input type="radio" name="confidence" value="2">
            <h5>Medium</h5>
          </section>

          <section class="radioButton">
            <input type="radio" name="confidence" value="1">
            <h5>High</h5>
          </section>

        </section>
      </section>

      <section class="textarea">
        <h2 class="notes">Notes:</h2>
        <textarea name="notes" rows="10" cols="40">
        </textarea>
      </section>


      <section class="logButton">
        <button type="submit" class="save">Save</button>
      </section>

    </form>
  </section>
</main>
