<main class="page-content">

  <section class="main-section header">
    <h1>{{name}}</h1>
    <a href="{{repoLink}}" target="_blank" type="button">Repo Link</a>

<!-- {{task_slug}} -->

     <form class="form-log" action="/logData"  method="post">

      <section class="form-section">
        <h3>Complete:</h3>

        <label class="checkbox-label">Completed
          <input class="checkbox-input" type="checkbox" value="true" name="completion"/>
          <span class="checkbox-checkmark"></span>
        </label>

      </section>

      <section class="form-section">
        <h3>Confidence Level:</h3>
        <section class="completed radio-group">

          <label class="radio-label">
            <span class="radio-title">Low</span>
            <input class="radio-input red" type="radio" value="1" name="confidence"/>
            <span class="radio-checkmark"></span>
          </label>

          <label class="radio-label">
            <span class="radio-title">Medium</span>
            <input class="radio-input yellow" type="radio" value="2" name="confidence"/>
            <span class="radio-checkmark"></span>
          </label>

          <label class="radio-label">
            <span class="radio-title">High</span>
            <input class="radio-input green" type="radio" value="3" name="confidence"/>
            <span class="radio-checkmark"></span>
          </label>

        </section>
      </section>


      <h3>Notes:</h2>
      <textarea class="textarea-input" rows="10" cols="40" name="notes"></textarea>
      <section class="form-section right">
        <input class="button-input" type="submit" value="Save"/>
      </section>




    </form>
  </section>
</main>
