<main class="page-content">
    <section class="main-section header">
        <h1>This is the {{name}} week view</h1>
        <ul>
        {{#each tasks}}

        <li> <h3> Workshop Name : {{name}} </h3>
            <a href = "{{repo_link}}"> Repo Link </a>
          </li>
        {{/each}}
      </ul>
    </section>
</main>
