<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>FAC-TRACK</title>
  <meta name="description" content="Meet the FAC 15 Cohort, and view their awesome skills">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#ff6347">
  <!-- <link rel="shortcut icon" type="image/x-ico" href="img/favicon.ico"/> -->
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <!-- <link rel="stylesheet" type="text/css" href="css/reset.css"> -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

    {{> header}}
    {{> menu}}
    {{{body}}}


</body>

</html>
